[submodule "NLP/embedding_evaluation"]
	path = NLP/embedding_evaluation
	url = https://github.com/EloiZ/embedding_evaluation.git
[submodule "fdfd"]
	path = NLP/embedding_evaluation
	url = https://github.com/EloiZ/embedding_evaluation.git
